/************
/* Autor: Alberto Guerra Rodas
/* Descripción: Plantilla de estilos
/************/

body {
  background-color: #16697a;
  color: #ede7e3;
}

section {
  min-height: 20em;
  min-width: 30em;
  border: 0.3em #ffa62b dashed;
  padding: 1em;
}

h1 {
  text-align: center;
  font-size: 4em;
}

h2 {
  font-size: 3em;
  text-align: center;
}

h3 {
  font-size: 2.5em;
}

p {
  font-size: 1.8em;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  gap: 1em;
}
