/************
/* Autor: Alberto Guerra Rodas
/* Descripción: Plantilla de estilos
/************/

body {
  color: #ddc9b4;
  background-color: #5e4f3f;
}

a:visited {
  color: #ddc9b4;
  background-color: #5e4f3f;
}

h1 {
  text-align: center;
}

input {
  font-size: 1.3em;
  color: #ddc9b4;
  background-color: #5e4f3f;
  border: 0.1em solid #ddc9b4;
  padding: 0.5em;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  gap: 1em;
}
